@import "tailwindcss";

/* LIGHT MODE COLORS:
    bg-neutral-50     Fondo general: blanco suave
    bg-neutral-200    Secciones secundarias 
    bg-white          Tarjetas o contenedores 

    -----

    text-neutral-900  Texto principal, casi negro 
    text-neutral-700  Texto secundario, gris oscuro 
    text-neutral-500  Texto menos importante, gris medio 
*/




/* DARK MODE COLORS:
    dark:bg-neutral-800   Fondo general: casi negro 
    dark:bg-neutral-700   Secciones secundarias 
    dark:bg-neutral-600   Tarjetas o contenedores 

    -----

    dark:text-neutral-50  Texto principal, casi blanco 
    dark:text-neutral-300  Texto secundario, gris claro 
    dark:text-neutral-500  Texto menos importante, gris medio 
*/

